<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
  	<title>Logistic Regression Classifier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

	</head>
	<body>
	<section class="ftco-section img bg-hero" style="background-image: url(static/images/bg_img.jpg);">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"><b><u>Affair Classsifier</b></u></h2>
					<p>This Application is based on Logistic Regression using Machine Learning.<br>The aim of this application is to predict the
					Chances of Affair based on the feature listed below.For this supervised learning model, data is derived from a survey of women in 1974 by Redbook
magazine, in which married women were asked about their participation in extramarital affairs.
						More information about the study is available in a 1978 paper from the Journal of Political Economy.
					<br><b>Skills Demonstrated:</b> Logistic Regression,Gradient Descent, pandas, sklearn, numpy, Supervised Learning, Data Cleaning, Data Modeling, Feature Selection.
						<br><u>For More Information do see EDA file and GitHub Link.</u></p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-11">
					<div class="wrapper">
						<div class="row no-gutters justify-content-between">
							<div class="col-lg-6 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5">
									<h3 class="mb-4">More Information</h3>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-book"></span>
				        		</div>
				        		<div class="text pl-4">

									<a download href="https://drive.google.com/file/d/13KXZtR2QeyO6MtcqHDln5IOWLNjdZseb/view?usp=sharing" target="_blank"><p><span>EDA File: Download</span></p></a>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-github"></span>
				        		</div>
				        		<div class="text pl-4">
					            <p><a href="https://github.com/Th-analytics/logistic_reg.git" target="_blank"><span>Github</span></a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-linkedin"></span>
				        		</div>
				        		<div class="text pl-4">
					            <p><a href="https://www.linkedin.com/in/aditya-mishra-ba7259170?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BISfga5xWQ36bCWrNxxxcKQ%3D%3D" target="_blank"><span>Linkedln</span> </a></p>
					          </div>
				          </div>
									<span></span>
			          </div>
							</div>
							<div class="col-lg-5">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Enter The Details</h3>
									<!--<h4>To give default values press Submit only.</h4>--> <!--<div id="form-message-warning" class="mb-4"></div>-->
									<form method="POST" id="data_form" name="data_form">
										<div class="row">
											<ul>
											<div class="col-md-12">
												<div class="form-group">
													<li><p><strong>Rate Your Marriage on Scale of (1 = very poor to 5 = very good)</strong></p></li>
													<input type="radio" name="rate_m" value=1> 1 </input><!--rate_marriage:-->
													<input type="radio" name="rate_m" value=2> 2 </input>
													<input type="radio" name="rate_m" value=3> 3 </input>
													<input type="radio" name="rate_m" value=4> 4 </input>
													<input type="radio" name="rate_m" value=5> 5 </input>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<li><label><b>Age</b></label></li>
														<input type="number" class="form-control" name="age" id="age" placeholder="Age">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<li><label><b>Years Of Marriage</b></label></li>
													<input type="number" class="form-control" name="yom" id="yom" placeholder="Years Married">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<li><label><b>Number Of Children</b></label></li>
													<input type="number" class="form-control" name="children" id="children" placeholder="No of Children">

												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<!--religious: woman's rating of how religious she is (1 = not religious, 4 =strongly religious)-->
													<li><p><strong>Religious Scale</strong></p></li>
													<input type="radio" name="R_scale" value=1> 1 </input>
													<input type="radio" name="R_scale"  value=2> 2 </input>
													<input type="radio" name="R_scale" value=3> 3 </input>
													<input type="radio" name="R_scale"  value=4> 4 </input>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<li><p><strong>Education</strong></p></li>
													<input type="radio" name="edu_scale" value=9> Grade School </input>
													<input type="radio" name="edu_scale" value=12> High school </input>
													<input type="radio" name="edu_scale" value=14> Some college </input>
													<input type="radio" name="edu_scale" value=16> College graduate </input>
													<input type="radio" name="edu_scale" value=17> Some graduate school </input>
													<input type="radio" name="edu_scale" value=20> Advanced degree </input>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<li><p><strong>Women's Occupation</strong></p></li>
													<input type="radio" name="occ_w" value=1> Student </input> <br>
													<input type="radio" name="occ_w" value=2> Farming/semi- skilled/unskilled </input> <br>
													<input type="radio" name="occ_w" value=3> White Collar </input> <br>
													<input type="radio" name="occ_w" value=4> Teacher/nurse/writer/technician </input> <br>
													<input type="radio" name="occ_w" value=5> Managerial/business </input> <br>
													<input type="radio" name="occ_w" value=6> Professional with advanced degree </input> <br>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<li><p><strong>Husband's Occupation</strong></p></li>
													<input type="radio" name="occ_m" value=1> Student </input> <br>
													<input type="radio" name="occ_m" value=2> Farming/semi- skilled/unskilled </input> <br>
													<input type="radio" name="occ_m" value=3> White Collar </input> <br>
													<input type="radio" name="occ_m" value=4> Teacher/nurse/writer/technician </input> <br>
													<input type="radio" name="occ_m" value=5> Managerial/business </input> <br>
													<input type="radio" name="occ_m" value=6> Professional with advanced degree </input> <br>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
											</ul>
										</div>

									</form>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/popper.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/jquery.validate.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/main.js')}}"></script>
	</body>
</html>

